{% extends 'base.html.twig' %}

{% block body %}
    <body>

    <div id="header" class="container-fluid">
        <div class="d-flex justify-content-center">
            <img id="logo" class="mt-2" src="{{ asset('logoRecanto.png') }}">
        </div>

        <div class="pb-2 text-center">
            <a href="#" id="title">Recanto mineiro</a>
            <p id="subtitle">Restaurante e Hotel</p>
        </div>
    </div>
    </body>
{% endblock %}

{% block stylesheets %}
    <style>
        #logo {
            width: 189px;
            height: 137px;
            -webkit-filter: blur(0.5px); /* Safari 6.0 - 9.0 */
            filter: blur(0.5px);
        }

        #header {
            background-color: #f3f2ca
        }

        #title {
            font-size: 50px;
            color: #a12627;
            text-decoration: none;
            font-family: 'Pacifico', cursive;
        }

        #subtitle {
            font-family: 'Abel', sans-serif;
            color: #a12627;
            font-size: 30px;
        }
    </style>
{% endblock %}
