{% extends 'base.html.twig' %}

{% block body %}
    <body>


    <div id="header" class="container col-12">
        <div class="d-flex justify-content-center">
            <img id="logo" class="mt-2" src="{{ asset('logoRecanto.png') }}">
        </div>

        <div class="pb-2 text-center">
            <a href="#" id="title">Recanto mineiro</a>
            <p id="subtitle">Restaurante e Hotel</p>
        </div>
    </div>
    <div id="border"></div>
    <div class="background"></div>
    </body>
{% endblock %}

{% block stylesheets %}
    <style>
        body , html{
            height: 100%;
            margin: 0;
        }

        .background {
            background-image: url("{{ asset('nature.jpg') }}");
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            filter: opacity(30%) contrast(200%);
        }

        #logo {
            width: 189px;
            height: 137px;
            -webkit-filter: blur(0.5px); /* Safari 6.0 - 9.0 */
            filter: blur(0.5px);
        }

        #header {
            background-color: #f3f2ca;
        }

        #title {
            font-size: 50px;
            color: #a12627;
            text-decoration: none;
            font-family: 'Pacifico', cursive;
        }

        #subtitle {
            font-family: 'Abel', sans-serif;
            color: #a12627;
            font-size: 30px;
        }
        #border {
            border-top: solid 2px #fad875;
        }
    </style>
{% endblock %}
